@using System.Linq
@using System.Security.AccessControl
@using System.Web.DynamicData
@using System.Web.UI.WebControls
@using EnhanceClub.Domain.Entities
@using EnhanceClub.WebUI.HtmlHelpers
@using EnhanceClub.WebUI.Infrastructure.Utility

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enhance Club - Invoice</title>
    <link rel="stylesheet" href="@SiteConfigurationsWc.CdnUrl/content/css/email-template.css">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Hero -->
    <table class="table" border="0" cellpading="0" cellspacing="0" bgcolor="#FBA303" width="100%">
        <tr>
            <td>
                <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse:collapse;">
                    <tr>
                        <td>
                            <img style="display:block;" width="100%" src="@SiteConfigurationsWc.CdnUrl/content/images/email-hero-reset.png" alt="Welcome to Enhance Club">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- Sub heading -->
    <table class="table" border="0" cellpading="0" cellspacing="0" bgcolor="#FFFFFF" width="100%">
        <tr>
            <td>
                <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" valign="middle" style="border-collapse:collapse;">
                    <tr style="vertical-align: middle;">
                        <td width="50%" style="font-family:'Kumbh Sans',arial,sans-serif;font-weight:700;font-size:32px">
                            &nbsp;<br>
                                  <span style="font-family:'Kumbh Sans',arial,sans-serif;font-size:22px;font-weight:400;">Hi,</span><br>
                            Got something<br>else on your mind?<br><br>
                        </td>                        
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- Main -->
    <table class="table" border="0" cellpading="0" cellspacing="0" bgcolor="#FFFFFF" width="100%">
        <tr>
            <td>
                <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" valign="middle" style="border-collapse:collapse;">
                    <tr>
                        <td colspan="2" style="font-family:'Kumbh Sans',arial,sans-serif;font-weight:400;font-size:22px;color:#7c7c7c;">
                            &nbsp;<br>
                            Forgot your password? No worries, we're here to help you get back up and running.<br><br>
                            Simply use the code <b>423567</b> and we'll get you <b>back in action.</b><br><br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- How To Order -->
    <table class="table" border="0" cellpading="0" cellspacing="0" bgcolor="#FBA303" width="100%">
        <tr>
            <td>
                <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" valign="bottom" style="border-collapse:collapse;">
                    <tr style="vertical-align: bottom;" valign="bottom">
                        <td width="60%" style="font-family:'Kumbh Sans',arial,sans-serif;">
                            <table border="0" cellpadding="0" cellspacing="0" align="center" valign="bottom" style="border-collapse:collapse;">
                                <tr>
                                    <td colspan="2">
                                        <br>
                                        <h1 style="font-family:'Kumbh Sans',arial,sans-serif;font-weight:700;font-size:42px;color:#ffffff;">
                                            Consider Us Your Secret Weapon
                                        </h1>
                                        <p style="font-family:'Kumbh Sans',arial,sans-serif;font-weight:400;font-size:22px;color:#000000;">
                                            We're always here when you need us.<br>
                                            Need to place another order?<br>
                                            &nbsp;
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%" style="font-family:'Kumbh Sans',arial,sans-serif;">
                                        <span style="font-size:22px;font-weight:700;">
                                            Call
                                        </span><br>
                                               <a href="tel:@SiteConfigurationsWc.StorefrontContact" style="color:#ffffff;font-size:22px;text-decoration:none;">@SiteConfigurationsWc.StorefrontContact</a><br>
                                        <br><br>
                                    </td>
                                    <td width="50%" style="font-family:'Kumbh Sans',arial,sans-serif;">
                                        <span style="font-size:22px;font-weight:700;">
                                            Visit Us Online
                                        </span><br>
                                               <a href="http://@SiteConfigurationsWc.StorefrontUrl" style="color:#ffffff;font-size:22px;text-decoration:none;">@SiteConfigurationsWc.StorefrontUrl</a><br>
                                        <br><br>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="40%" valign="bottom" style="font-family:'Kumbh Sans',arial,sans-serif;font-size:22px;font-weight:400;color:#7c7c7c;vertical-align:bottom;">
                            <img style="display:block;border-style:none;" src="@SiteConfigurationsWc.CdnUrl/content/images/email-how-to-order.png" alt="How To Order">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- Footer -->
    <table class="table" border="0" cellpading="0" cellspacing="0" bgcolor="#000000" width="100%">
        <tr>
            <td>
                <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" valign="middle" style="border-collapse:collapse;">
                    <tr>
                        <td colspan="2" style="font-family:'Kumbh Sans',arial,sans-serif;">
                            &nbsp;
                            <h1 style="font-size:32px;font-weight:400;color:#ffffff;">Find us when you need</h1><br>
                        </td>
                    </tr>
                    <tr style="vertical-align: top;" valign="top">
                        <td width="50%" style="font-family:'Kumbh Sans',arial,sans-serif;text-align:left;">
                            <span style="font-weight:900;font-size:22px;color:#ffffff;">Call</span><br>
                            <a href="tel:@SiteConfigurationsWc.StorefrontContact" style="font-size:18px;color:#FBA303;text-decoration:none;">@SiteConfigurationsWc.StorefrontContact</a><br><br>
                            @*<span style="font-weight:900;font-size:22px;color:#ffffff;">Email</span><br>*@
                            <a href="@SiteConfigurationsWc.CdnUrl/get-in-touch" style="font-size:18px;color:#FBA303;text-decoration:none;">
                                <span style="font-weight:900;font-size:22px;color:#ffffff;">Get in Touch</span>
                                <img src="@SiteConfigurationsWc.CdnUrl/content/images/get-in-touch-icon.png" alt="Get In TOUCH">

                            </a><br><br>
                        </td>
                        <td width="50%" align="right" style="font-family:'Kumbh Sans',arial,sans-serif;text-align:right;">
                            
                            <a href="https://@SiteConfigurationsWc.StorefrontUrl/privacy-policy" style="font-size:18px;color:#a5a5a5;text-decoration:none;">Privacy Policy</a><br><br>
                            <a href="https://@SiteConfigurationsWc.StorefrontUrl/faq" style="font-size:18px;color:#a5a5a5;text-decoration:none;">FAQs</a>
                            &nbsp;<br><br>
                        </td>
                    </tr>
                    <tr style="vertical-align:bottom;" valign="bottom">
                        <td style="font-family:'Kumbh Sans',arial,sans-serif;font-size:18px;color:#ffffff;">
                            &nbsp;<br>
                            CONNECT WITH US
                            <table style="margin-top:20px;vertical-align: middle;" valign="middle">
                                <tr width="180px">
                                    <td width="60px">
                                        <a href="https://www.facebook.com/enhanceclubnow/" style="text-decoration:none;">
                                            <img src="@SiteConfigurationsWc.CdnUrl/Content/images/email-facebook-icon.png" alt="facebook">
                                        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </td>
                                    <td width="60px">
                                        <a href="https://www.instagram.com/enhanceclub/?hl=en" style="text-decoration:none;">
                                            <img src="@SiteConfigurationsWc.CdnUrl/Content/images/email-instagram-icon.png" alt="instagram">
                                        </a>
                                    </td>
                                    <td width="60px">
                                        <a href="https://twitter.com/enhanceclub" style="text-decoration:none;">
                                            <img src="@SiteConfigurationsWc.CdnUrl/Content/images/email-twitter-icon.png" height="25" width="25" alt="twitter" />
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            &nbsp;<br>
                        </td>
                        <td style="font-family:'Kumbh Sans',arial,sans-serif;font-size:18px;color:#ffffff;text-align:right;">
                            <a href="https://@SiteConfigurationsWc.StorefrontUrl/">
                                <img style="display:inline-block;width:200px;" src="@SiteConfigurationsWc.CdnUrl/content/images/footerlogo.png" alt="footer">
                            </a><br>
                            &nbsp;<br>
                            All Rights Reserved &copy;  @DateTime.Now.Year<br>
                            &nbsp;<br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>

@*<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Enhance Club - ResetPassword</title>
        <link rel="stylesheet" href="@SiteConfigurationsWc.CdnUrl/content/css/email-template.css">
        <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <!-- Hero -->
        <table class="table" border="0" cellpading="0" cellspacing="0" bgcolor="#FBA303" width="100%">
            <tr>
                <td>
                    <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" style="border-collapse:collapse;">
                        <tr>
                            <td>
                                <img style="display:block;" width="100%" src="@SiteConfigurationsWc.CdnUrl/content/images/email-hero-3.png" alt="">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!-- Sub heading -->
        <table class="table" border="0" cellpading="0" cellspacing="0" bgcolor="#FFFFFF" width="100%">
            <tr>
                <td>
                    <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" valign="middle" style="border-collapse:collapse;margin-top:20px;margin-bottom:20px;">
                        <tr style="vertical-align: middle;">
                            <td width="50%" style="font-family:'Kumbh Sans',arial,sans-serif;font-weight:700;font-size:32px">
                                <div style="margin-top:20px;margin-bottom:20px;">
                                    <span style="font-family:'Kumbh Sans',arial,sans-serif;font-size:22px;font-weight:400;">
                                        Hi @Model.FirstName,
                                    </span><br>
                                    Have sex on the brain?
                                </div>
                            </td>
                            <td width="50%" align="center" style="font-family:'Kumbh Sans',arial,sans-serif;font-size:22px;font-weight:700;color:#FFFFFF;">
                                <a style="text-decoration:none;line-height:normal;color:#ffffff;" href="@SiteConfigurationsWc.CdnUrl/customer/reset-password?code=@Model.Token">
                                    <img src="@SiteConfigurationsWc.CdnUrl/Content/images/reset-password-btn.png" alt="View Your Order">
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" valign="middle" style="border-collapse:collapse;margin-top:20px;margin-bottom:20px;">
                        <tr>
                            <td style="font-family:'Kumbh Sans',arial,sans-serif;font-size:22px;font-weight:400;color:#7c7c7c;">
                                <div style="margin-bottom: 20px;">
                                    If you’ve forgotten your password or want a reset, we can help you whip one off. Just click the button above. If not, simply ignore and enjoy this awkward silence together.
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!-- How To Order -->
        <table class="table" border="0" cellpading="0" cellspacing="0" bgcolor="#FBA303" width="100%">
            <tr>
                <td>
                    <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" valign="middle" style="border-collapse:collapse;">
                        <tr style="vertical-align: middle;">
                            <td width="50%" style="font-family:'Kumbh Sans',arial,sans-serif;">
                                <div style="margin-top:20px;margin-bottom:20px;">
                                    <h1 style="font-weight:700;font-size:32px;">
                                        How To Order
                                    </h1><br>
                                    <span style="font-size:22px;font-weight:700;">
                                        Call
                                    </span><br>
                                    <a href="tel:@SiteConfigurationsWc.StorefrontContact" style="color:#ffffff;font-size:22px;text-decoration:none;">@SiteConfigurationsWc.StorefrontContact</a><br>
                                    </h1><br>
                                    <span style="font-size:22px;font-weight:700;">
                                        Visit Us Online
                                    </span><br>
                                    <a href="https://@SiteConfigurationsWc.StorefrontUrl" style="color:#ffffff;font-size:22px;text-decoration:none;">@SiteConfigurationsWc.StorefrontUrl</a><br>
                                </div>
                            </td>
                            <td width="50%" style="font-family:'Kumbh Sans',arial,sans-serif;font-size:22px;font-weight:400;color:#7c7c7c;">
                                <img style="display:block;border-style:none;" src="@SiteConfigurationsWc.CdnUrl/content/images/howtoorder.png" alt="">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!-- Footer -->
        <table class="table" border="0" cellpading="0" cellspacing="0" bgcolor="#1a1a1a" width="100%">
            <tr>
                <td>
                    <table width="700" border="0" cellpadding="0" cellspacing="0" align="center" valign="middle" style="border-collapse:collapse;">
                        <tr style="vertical-align: top;" valign="top">
                            <td width="50%" style="font-family:'Kumbh Sans',arial,sans-serif;">
                                <div style="margin-top:20px;margin-bottom:20px;">
                                    <h1 style="font-size:32px;font-weight:400;color:#ffffff;">Need Help?</h1><br>
                                    <a href="mailto:@SiteConfigurationsWc.StorefrontCustomerService" style="font-size:18px;color:#a5a5a5;text-decoration:none;">Customer Service</a><br><br>
                                    <a href="https://@SiteConfigurationsWc.StorefrontUrl/get-in-touch" style="font-size:18px;color:#a5a5a5;text-decoration:none;">Get in Touch</a><br><br>
                                    <a href="https://@SiteConfigurationsWc.StorefrontUrl/faq" style="font-size:18px;color:#a5a5a5;text-decoration:none;">FAQs</a>

                                </div>
                            </td>
                            <td width="50%" align="right" style="font-family:'Kumbh Sans',arial,sans-serif;text-align:right;">
                                <div style="margin-top:20px;margin-bottom:20px;">
                                    <h1 style="font-size:32px;font-weight:400;color:#ffffff;">Find Help</h1><br>
                                    <span style="font-weight:900;font-size:22px;color:#ffffff;">Call</span><br>
                                    <a href="tel:@SiteConfigurationsWc.StorefrontContact" style="font-size:18px;color:#FBA303;text-decoration:none;">@SiteConfigurationsWc.StorefrontContact</a><br><br>
                                    <span style="font-weight:900;font-size:22px;color:#ffffff;">Email</span><br>
                                    <a href="mailto:@SiteConfigurationsWc.StorefrontCustomerService" style="font-size:18px;color:#FBA303;text-decoration:none;">@SiteConfigurationsWc.StorefrontCustomerService</a><br><br>
                                </div>
                            </td>
                        </tr>
                        <tr style="vertical-align:bottom;" valign="bottom">
                            <td style="font-family:'Kumbh Sans',arial,sans-serif;font-size:18px;color:#ffffff;">
                                &nbsp;<br>
                                FOLLOW US
                                <table style="margin-top:20px;vertical-align: middle;" valign="middle">
                                    <tr>
                                        <td width="70px">
                                            <a href="https://www.facebook.com/enhanceclubnow">
                                                <img src="@SiteConfigurationsWc.CdnUrl/Content/images/facebook-icon.png" alt="">
                                            </a>
                                        </td>
                                        @*<td width="70px">
                                            <a href="http://twitter.com/enhanceclub">
                                                <img src="@SiteConfigurationsWc.CdnUrl/Content/images/twitter-icon.png" alt="">
                                            </a>
                                        </td>
                                        <td width="70px">
                                            <a href="https://www.youtube.com/channel/UCEUd47AnJTV_5K9gaTB2LwA">
                                                <img src="@SiteConfigurationsWc.CdnUrl/Content/images/youtube-icon.png" alt="">
                                            </a>
                                        </td>*@
@*<td width="70px">
    <a href="http://instagram.com/enhanceclub">
        <img src="@SiteConfigurationsWc.CdnUrl/Content/images/instagram-icon.png" alt="">
    </a>
</td>
                                </tr>
                            </table>
                        </td>
<td style="font-family:'Kumbh Sans',arial,sans-serif;font-size:22px;color:#ffffff;text-align:right;">
    <a href="https://@SiteConfigurationsWc.StorefrontUrl/privacy-policy" style="color:#ffffff;text-decoration: none;">
        Privacy Policy
    </a>
</td>
                    </tr>
<tr style="vertical-align: middle;" valign="middle">
    <td style="font-family:'Kumbh Sans',arial,sans-serif;font-size:22px;color:#ffffff;text-align:left;">
        &nbsp;<br>

        <a href="https://@SiteConfigurationsWc.StorefrontUrl">
            <img style="display:block;width:200px;" src="@SiteConfigurationsWc.CdnUrl/content/images/footerlogo.png" alt="">

        </a><br>
        &nbsp;
    </td>
    <td style="font-family:'Kumbh Sans',arial,sans-serif;font-size:22px;color:#ffffff;text-align:right;">
        &nbsp;<br>
        All Rights Reserved &copy; @DateTime.Now.Year<br>
        &nbsp;
    </td>
</tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>*@