@model EnhanceClub.WebUI.Models.DocumentIdUploadViewModel
@using EnhanceClub.WebUI.AwsHelper
@using EnhanceClub.WebUI.Infrastructure.Utility
@{
    string cls = "";
    string pageController = @ViewContext.RouteData.Values["Controller"].ToString();

    var objectKey = @SiteConfigurationsWc.UploadS3CustomerIdDir + "/" + @Model.IdImageName.Trim();
    var imageUrl = GetS3PresignedUrl.GeneratePreSignedUrl(1, objectKey);
    //var imageUrl = "";
    cls = pageController.ToUpper() == "ORDER" ? "" : "d-none";
}


<li class="form-group upload-documents">

    <div class="non-overview-item">
        <h3 style="margin-bottom: 30px; margin-top: 80px;" class="fs-field-label fs-anim-upper" for="q1">Upload Your Documents</h3>
    </div>
    <div class="fs-anim-lower">
        @if (Model.HavePrescription)
        {
            <p class="small-text fs-anim-lower">
                If you already have a prescription – great! Just upload an image of your prescription and ID to your account.
                The Enhance Club pharmacy team will review and approve it before shipping out your medication.
            </p>
        }
        else
        {
            <p class="small-text fs-anim-lower">
                If you need a prescription, we got you covered! This next part is really easy. Our private telehealth service will connect you virtually
                with a licensed @SiteConfigurationsWc.TermForPractitioner.
                They’ll do an evaluation and approved prescriptions are then dispensed by our pharmacy.
            </p>
        }
        <div class="row">

            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 order-2 order-lg-1">
                <h6 style="margin-top: 30px;">Id Already Uploaded</h6>
                <p style="font-size:14px;color:#000;margin-bottom: 20px">To legally prescribe you medication, your @SiteConfigurationsWc.TermForPractitioner will need a photo of your driver’s license or passport.</p>
                @if (!@ViewBag.CustomerDocumentValidated)
                {

                    <span class="file-wrapper" style="font-size: 20px;color:#000">
                        <input type="file" name="imgReplace" id="imgReplace" class="uploader custom-replaceid" />
                        <span class="btn upload-btn" style="margin-bottom: 20px">Replace ID</span>
                    </span>
                }
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 order-1 order-lg-2 text-center">
                @if (@Model.IdImageFound)
                {
                    <img id="img-replaceId" src="@imageUrl" alt="your image" style="width: 350px;height: auto; margin-top:40px;" class="image-uploaded-success">

                }
                else
                {
                    <img id="img-replaceId" src="~/content/images/placeholder_350.png" alt="your image" style="width: 350px;height: auto; margin-top:40px;">

                }
            </div>
        </div>
        <div class="success-msg" id="status" style="font-size: 12px;">

        </div>
        <div class="error-msg" id="statusErr" style="font-size: 12px;">

        </div>
    </div>
    @if (!Model.IsMobileDevice)
    {
        <span class="upload-form-nav fs-anim-lower @cls" id="button-next">
            <ul>
                <li class="next-btn nextIdBtn">
                    <div class="btn btn__yellow btn--rounded" id="1stbutton">Next Step <img src="/Content/images/arrow-right.svg" /></div>
                </li>
            </ul>
        </span>
    }


</li>