@using EnhanceClub.WebUI.Infrastructure.Utility
@using EnhanceClub.WebUI.Infrastructure.Utility
<div class="row">
    <div class="col-md-12">
        <table width="100%" cellpadding="6" cellspacing="3" border="0">
            <tr>
                <td>
                    <h1>Return Policy</h1>
                    <p align="justify">
                        @SiteConfigurationsWc.StorefrontUrl's return policy differs depending on whether your purchase is a prescription (Rx) or over-the-counter (OTC) product. Please see the two different types of return policies below.
                    </p>
                    <h3>
                        Prescription (Rx) Products:
                    </h3>

                    <p>
                        All sales and payments made on, through or regarding the site and / or a customer’s user account are final, irrevocable and will not be eligible for a refund. 
                        Once a pharmaceutical product is purchased and the order has been shipped, it will not be eligible for a return or an exchange. 
                        Be aware as well that all prescription products sold by @SiteConfigurationsWc.StorefrontUrl cannot be returned or replaced, and this will apply even if there are extenuating circumstances regarding the order.
                    </p>

                    <p>
                        @SiteConfigurationsWc.StorefrontUrl reserves the right to refuse assistance to customers in obtaining their order, or any other order, and do so entirely at our own discretion. 
                        In such an event the customer will be entitled to a refund for monies paid on that order.
                    </p>

                    <p>
                        Accepting the terms and conditions of this agreement indicates you understand and acknowledge that @SiteConfigurationsWc.StorefrontUrl reserves the right to provide credits or refunds in the following circumstances, but is under no obligation to do so:
                    </p>
                        <ul>
                            <li>
                                Instances where a customer is not eligible to receive a prescription for an Rx product available through the pharmacy
                            </li>
                            <li>
                                Instances where a customer realizes they have insurance coverage after paying for an order without submitting their insurance coverage information, and would rather @SiteConfigurationsWc.StorefrontUrl bill their plan directly. 
                                We would then refund the balance on any insurance remittance.
                            </li>
                            <li>
                                Instances where a customer chooses to change dose or quantity after trying the medication or having a follow-up consultation with the @SiteConfigurationsWc.TermForPractitioner who wrote the original prescription.
                                In these cases price and product adjustments will be made to reflect the new price of the product prescribed.
                            </li>
                        </ul>
                       <p>
                           Again, refunds are not available once a medication order has left the pharmacy with a tracking number provided to them at checkout.
                       </p>
                        <h3>
                            Over-the-Counter / Non-Prescription (OTC) Products:
                        </h3>
                    <p>
                        Customers are able to return <b>unopened</b> products <u>up to <b>60 days</b> after the date of purchase.</u> 
                    </p>

                    <p>
                        Opened or used products, or any items marked as non-refundable / final sale are <b>not</b> eligible for returns as per these policy guidelines. 
                        Products that have <u>partially</u> opened packaging are also considered to be opened and will not be able to be returned.
                    </p>

                </td>
            </tr>
        </table>
    </div>
</div>