@using EnhanceClub.WebUI.Infrastructure.Utility
@model EnhanceClub.WebUI.Models.LoginViewModel
@section PageScripts {

    <script type="text/javascript">

        $("#btnSignIn").click(function () {
          
            var password = $(".password").val();
            var confirmPassword = $(".confirm-password").val();

            if (password == confirmPassword) {               

            } else {
              
                alert('Password does not match');
                return false;

            }           
            var passwordValidated = validatePassword();
            return passwordValidated;
            return true;
        });

        function validatePassword() {
           
          //  var password = document.getElementsByClassName('password').value,
            var password = $(".password").val(),
                errors = [];
           // var confirmPassword = document.getElementsByClassName('confirm-password').value;
            if (password.length < 8) {
                errors.push("Your password must be at least 8 characters");
            }
            //if (password.search(/[a-z]/i) < 0) {
            //    errors.push("Your password must contain at least one letter.");
            //}
            if (p.search(/[0-9]/) < 0) {
                errors.push("Your password must contain at least one digit.");
            }
            //if (password.search(/[@@$!%*#?&^]/) < 0) {
            //    errors.push("Your password must contain at least one special character.");
            //}
            if (errors.length > 0) {
                // alert(errors.join("\n"));
                alert("Password should be minimum 8 characters and must contain one digit");
                return false;
            }
            return true;
        }
      
    </script>

}
<div class="get-started-section starter-step-section sign-in-section">
    <div class="get-started-step"></div>
    <div class="bg-image" style="background-image: url(/content/images/signIn-banner.jpeg)"></div>
    <div class="container">
        <div class="row">
            <div class="col col-lg-5 col-md-12 col-sm-12 col-xs-12">



                <h2>Password Reset</h2>
                @if (@ViewBag.ResetPassword == "success")
                {
                    <h4> Your Password has been updated successfully.</h4>
                    <p>
                        To login to your account please @Html.ActionLink("click here", "login", null, new { @class = "yellow" })
                    </p>
                }
                else if (@ViewBag.ResetPassword == "invalid-password")
                {
                    <h4>Failed to Reset your password. </h4>
                    <p> To Reset your password again, Please @Html.ActionLink("Click Here", "forgot-password", null, new { @class = "yellow" }) </p>
                
                }
                @*else if (@ViewBag.ResetPassword == "link-expired")
                {
                    <h4>Reset Password link has been expired. </h4>
                    <p> To Reset your password again, Please @Html.ActionLink("Click Here", "forgot-password", null, new { @class = "yellow" }) </p>
                }*@
                

            </div>
        </div>
    </div>
</div>