@using EnhanceClub.WebUI.Infrastructure.Utility


<!-- Start of Main -->
<div class="dashboard-page order-page order-confirmation-page error-page">
    <!-- Start of the Top Clip Path -->
    <!-- <div class="top-clip">
        <div class="dash-top-clip">
        </div>
    </div> -->
    <!-- End of the Top Clip Path -->

    <div class="section top-section">
        <div class="container">
            <div class="row">

                <!-- Start of Main Section -->
                <div class="col-12 col-md-12 col-lg-12">

                    <!-- Start of Filter Section -->
                    <div class="row mt-4">
                        <div class="col-12 col-md-7 col-xl-6 text-center text-md-right">
                            <h4 class="white mb-4">Verify Credentials</h4>
                            <p>
                                Enter code received in updated email
                            </p>
                            @using (Html.BeginForm("VerifyCustomerCredentials", null, FormMethod.Post, new { @id = "updateCredentials", name = "updateCredentials" }))
                            {
                                <input type="hidden" name="updatedValue" value="@ViewBag.UpdatedValue" />
                                if (!string.IsNullOrEmpty(@ViewBag.EmailUpdateMessage))
                                {
                                    <h5>@ViewBag.EmailUpdateMessage</h5>
                                }
                                @*@Html.ValidationSummary()*@
                                <div class="form-group">
                                    @Html.TextBox("verificationCode", null,
                                new
                                {
                                    @placeholder = "Type verification code",
                                    required = "required",
                                    @type = "text",
                                    @class = "form-control",
                                    maxlength = 6
                                })
                                    @*<input class="form-control" type="text" placeholder="Type your email or username">*@
                                </div>
                                <button class="btn btn__secondary btn--rounded mb-3 ">Send</button><br>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="notify info">
                                            <b>Important Info!</b> You will be logged out automatically after verification is successful. You need to login with updated credentials.
                                        </div>
                                    </div>
                                </div>
                            }

                            <a href="@Url.Action("dashboard","customer")">&#8592; Go To Dashboard</a>
                        </div>

                    </div>
                    <!-- End of Filter Section -->

                </div>
                <!-- End of Main Section -->

            </div>
        </div>
    </div>


</div>
<!-- End of Main -->
