@using EnhanceClub.WebUI.Infrastructure.Utility
@using EnhanceClub.WebUI.Infrastructure.Utility

<div class="content-container home-content">
  
        <div class="row">
            <div class="col-md-12">
                <p>
                    At @SiteConfigurationsWc.StorefrontName, we are always interested to hear what our customers have to say. Please feel free to contact us 7 days a week from 8:00am - Midnight (EST) at any of the following options:
                </p>
                <p>
                    <u><b>General Inquiries:</b></u><br>
                    <a href="mailto:@Model.StoreFrontEnquiry">@Model.StoreFrontEnquiry</a>
                </p>
                <p>
                    <u><b>Website Problems:</b></u><br>
                    <a href="mailto:@Model.StoreFrontWebsiteProblems">@Model.StoreFrontWebsiteProblems</a>
                </p>
                <p>
                    <u><b>Marketing Inquiries:</b></u><br>
                    <a href="mailto:@Model.StoreFrontMarketing">@Model.StoreFrontMarketing</a>
                </p>
                <p>
                    <u><b>Sales Inquiries:</b></u><br>
                    <a href="mailto:@Model.StoreFrontSales">@Model.StoreFrontSales</a>
                </p>
                <p>
                    <u><b>Toll Free Number:</b></u><br>
                    @Model.StorefrontContact<br>
                    Our call center is open 7 days a week from 8:00am - Midnight (EST)
                </p>
                <p>
                    <u><b>Toll Free Fax Number:</b></u><br>
                    @Model.StoreFrontFax
                </p>
            </div>
       
    </div>
   
        @*--- Show Side bar with refer friend and free shipping link ---*@
      
     </div>